* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
li {
  list-style: none;
}
.non {
  display: none;
}
a {
  text-decoration: none;
}
body {
  min-width: 1024px !important;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body #return_top {
  width: 1rem;
  height: 1rem;
  color: #fff;
  font-size: 0.2rem;
  text-align: center;
  padding-top: 0.17rem;
  z-index: 998;
  position: fixed;
  right: 0.25rem;
  bottom: 6rem;
  background-color: #333;
  border-radius: 50%;
  display: none;
}
body .top {
  display: none;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  margin: auto 0;
  width: 100%;
  height: 1.25rem;
  background-color: rgba(255, 255, 255, 0.2);
}
body .top .top-left {
  float: left;
  width: 9.5rem;
  height: 100%;
  display: flex;
  margin-left: 0.625rem;
  justify-content: center;
  align-items: center;
}
body .top .top-left a {
  display: block;
}
body .top .top-left a .icon {
  float: left;
  width: 0.875rem;
  height: 0.875rem;
  background: url(../image/first-page/u94.png) no-repeat;
  background-size: 80%;
}
body .top .top-left a p {
  line-height: 0.875rem;
  float: left;
  font-size: 0.5rem;
  color: #fff;
  -webkit-text-size-adjust: none;
}
body .top .top-right {
  float: right;
  margin-left: 1.5rem;
  box-sizing: border-box;
}
body .top .top-right ul {
  float: right;
}
body .top .top-right ul li {
  float: left;
  margin-left: 0.3rem;
  height: 1.25rem;
  line-height: 1.25rem;
}
body .top .top-right ul li a {
  z-index: 30;
  display: block;
  height: 1.25rem;
  color: #fff;
  font-size: 0.3rem;
  line-height: 0.3125rem;
}
body .top .top-right ul li a img {
  margin-top: 0.625rem;
  float: left;
  margin-right: 0.1125rem;
  width: 0.3125rem;
  height: 0.3125rem;
}
body .top .top-right ul li a div {
  margin-top: 0.625rem;
  float: left;
}
body .top .top-right ul li a:hover {
  color: #7da3d8;
}
body .top .top-right ul li ol {
  width: 1.3rem;
}
body .top .top-right ul li ol li {
  width: 1.875rem;
  height: 0.625rem;
  line-height: 0.625rem;
  margin-left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
body .top .top-right ul li ol li a {
  font-size: 0.225rem;
  display: block;
  width: 1.875rem;
  height: 0.625rem;
  line-height: 0.625rem;
}
body .top .top-right ul li ol li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
body section .enter {
  width: 100%;
  height: 1.25rem;
  background-color: #f2f2f2;
  border-bottom: 0.0125rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #7f7f7f;
  font-size: 0.625rem;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  position: relative;
}
body section .enter .enter-bot {
  width: 3.75rem;
  height: 0.25rem;
  background-color: #00bfbf;
  content: '';
  display: block;
  position: absolute;
  bottom: -0.125rem;
  left: 42%;
}
body section .text p {
  font-size: 0.3rem;
  text-align: center;
  margin-top: 0.625rem;
}
body section .text p:first-child {
  font-weight: 800;
  font-size: 0.5rem;
  color: #666;
  letter-spacing: 0.125rem;
}
body section .text .qyjs {
  line-height: 0.625rem;
}
body section .more {
  margin: 1.25rem 0;
  display: flex;
}
body section .more .time {
  flex: 2;
  background-color: gree;
}
body section .more .time .des {
  float: right;
  color: #81D3F8;
  font-family: 'SimSun';
  font-weight: 700;
  font-size: 0.35rem;
  text-align: right;
  margin-top: 0.1875rem;
}
body section .more .time .des span {
  font-size: 0.9rem;
  color: #02A7F0;
  font-family: Arial, Helvetica, sans-serif;
}
body section .more .time img {
  float: right;
  width: 2.5rem;
}
body section .more .more-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .more .more-box a {
  display: block;
  background-color: #169bd5;
  width: 2.325rem;
  height: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.225rem;
  border-radius: 0.0625rem;
}
body section .more .address {
  flex: 2;
}
body section .more .address .des {
  float: left;
  color: #81D3F8;
  font-family: 'SimSun';
  font-weight: 700;
  font-size: 0.35rem;
  margin-top: 0.1875rem;
}
body section .more .address .des p:last-child {
  font-size: 0.4rem;
  color: #02A7F0;
  font-family: Arial, Helvetica, sans-serif;
}
body section .more .address img {
  float: left;
  width: 2.5rem;
}
body section .business {
  background: url(../image/first-page/u97.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-top: 0.0125rem solid #000;
  position: relative;
}
body section .business .enter-bot {
  width: 3.75rem;
  height: 0.25rem;
  background-color: #00bfbf;
  content: '';
  display: block;
  position: absolute;
  top: -0.125rem;
  left: 42%;
}
body section .business p {
  text-align: center;
  margin-top: 0.625rem;
  font-weight: 800;
  font-size: 0.5rem;
  color: #666;
  letter-spacing: 0.125rem;
}
body section .business .content {
  height: 8.125rem;
  padding: 0.625rem;
  text-align: center;
  display: flex;
}
body section .business .content .content-left {
  flex: 1;
  margin-left: 2.5rem;
}
body section .business .content .content-left a {
  display: block;
  color: #333;
  width: 2.8rem;
  border: 0.0125rem solid #1296db;
}
body section .business .content .content-left a .con-box {
  padding: 0.375rem;
  background-color: rgba(173, 223, 248, 0.8);
}
body section .business .content .content-left a .con-box img {
  width: 1rem;
}
body section .business .content .content-left a .con-box span {
  display: block;
  font-size: 0.25rem;
}
body section .business .content .content-right {
  flex: 5;
  text-align: left;
  padding: 0.375rem;
}
body section .business .content .content-right .dx .top-content {
  font-size: 0.375rem;
}
body section .business .content .content-right .dx .top-content .guanxian {
  float: left;
  margin-right: 0.25rem;
  width: 3.375rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  text-align: center;
  background-color: rgba(109, 100, 196, 0.2);
}
body section .business .content .content-right .dx .top-content .guanxian img {
  width: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}
body section .business .content .content-right .dx .top-content .guanxian span {
  display: block;
  font-size: 0.2rem !important;
  line-height: 0.375rem;
}
body section .business .content .content-right .dx a {
  display: block;
  background-color: #169bd5;
  width: 2.325rem;
  height: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.225rem;
  border-radius: 0.0625rem;
  margin-bottom: 0.625rem;
}
body section .business .content .content-right .dx a:hover {
  color: rgba(0, 0, 0, 0.2);
}
body section .business .content .content-right .dx p {
  margin: 0.25rem;
  font-size: 0.25rem;
  text-align: left;
  text-indent: 0.8rem;
  letter-spacing: 0.07rem;
  font-weight: initial;
  color: #333;
}
body section .business .content .content-right .jz {
  display: none;
}
body section .business .content .content-right .jz .top-content {
  font-size: 0.375rem;
}
body section .business .content .content-right .jz .top-content .gongcheng {
  float: left;
  margin-right: 0.25rem;
  width: 3.375rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  text-align: center;
  background-color: rgba(109, 100, 196, 0.2);
}
body section .business .content .content-right .jz .top-content .gongcheng img {
  width: 2.5rem;
  height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}
body section .business .content .content-right .jz .top-content .gongcheng span {
  display: block;
  font-size: 0.175rem !important;
  line-height: 0.375rem;
}
body section .business .content .content-right .jz .top-content .gc-more {
  width: 1.5rem;
  float: left;
  margin-top: 1.125rem;
}
body section .business .content .content-right .jz a {
  display: block;
  background-color: #169bd5;
  width: 2.325rem;
  height: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.225rem;
  border-radius: 0.0625rem;
  margin-bottom: 0.625rem;
}
body section .business .content .content-right .jz a:hover {
  color: rgba(0, 0, 0, 0.2);
}
body section .business .content .content-right .jz p {
  margin: 0.25rem;
  font-size: 0.25rem;
  text-align: left;
  text-indent: 0.8rem;
  letter-spacing: 0.07rem;
  font-weight: initial;
  color: #333;
}
body section .business .content .content-right .rj {
  display: none;
}
body section .business .content .content-right .rj .top-content {
  font-size: 0.375rem;
}
body section .business .content .content-right .rj .top-content .xitong {
  float: left;
  margin-right: 0.25rem;
  width: 3.375rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  text-align: center;
  background-color: rgba(109, 100, 196, 0.2);
}
body section .business .content .content-right .rj .top-content .xitong img {
  width: 2.5rem;
  height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}
body section .business .content .content-right .rj .top-content .xitong span {
  display: block;
  font-size: 0.175rem !important;
  line-height: 0.375rem;
}
body section .business .content .content-right .rj a {
  display: block;
  background-color: #169bd5;
  width: 2.325rem;
  height: 0.5rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.225rem;
  border-radius: 0.0625rem;
  margin-bottom: 0.625rem;
}
body section .business .content .content-right .rj a:hover {
  color: rgba(0, 0, 0, 0.2);
}
body section .business .content .content-right .rj p {
  margin: 0.25rem;
  font-size: 0.25rem;
  text-align: left;
  text-indent: 0.8rem;
  letter-spacing: 0.07rem;
  font-weight: initial;
  color: #333;
}
body .center-box {
  border-top: 0 !important;
  border-bottom: 0 !important;
}
body footer {
  width: 100%;
  height: 5.2rem;
  background: url(../image/first-page/footer-bgc.jpg) no-repeat;
  background-color: #202731;
  background-size: contain;
  overflow: hidden;
  position: relative;
}
body footer .footer-border {
  color: #fff;
  position: absolute;
  right: 3rem;
  top: 0.5rem;
  width: 8rem;
  height: 4rem;
  background: url(../image/first-page/footer-border.png) no-repeat;
  background-size: 100%;
  padding: 0.7rem 1.25rem;
}
body footer .footer-border div {
  font-size: 0.25rem;
  margin-top: 0.08rem;
}
body footer .footer-border div:first-child {
  font-size: 0.5rem;
}
body footer .copy {
  width: 100%;
  height: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 0.0125rem solid #949494;
  text-align: center;
  color: #fff;
}
body footer .copy p {
  letter-spacing: 0.0125rem;
  width: 100%;
  height: 0.25rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
}
body footer .copy p a {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920) {
  html {
    font-size: 80px !important;
  }
}
